<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708519951985-a5r4fb3ku553m4tdkis1166h7t54thlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708519951985-a5r4fb3ku553m4tdkis1166h7t54thlc</string>
	<key>API_KEY</key>
	<string>AIzaSyDu7LeV-EfHaaDeoxvvIONuNQYk7M39C48</string>
	<key>GCM_SENDER_ID</key>
	<string>708519951985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PMJs.GWShop</string>
	<key>PROJECT_ID</key>
	<string>gwshopreal</string>
	<key>STORAGE_BUCKET</key>
	<string>gwshopreal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708519951985:ios:4a43cee1b1596384e465d0</string>
	<key>DATABASE_URL</key>
	<string>https://gwshopreal.firebaseio.com</string>
</dict>
</plist>